* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(rgba(0, 0, 0, .4), transparent 1px),
        linear-gradient(90deg, rgba(0, 0, 0, .4), transparent 1px);
    background-size: 30px 30px;
}

.res {
    color: green;
    font-weight: bold;
    font-size: 40px;
    font-family: Arial;
    height: 50px;
}

.game {
    width: 360px;
    height: 360px;
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0;
    outline: 3px solid black;
}

.field {
    width: 120px;
    height: 120px;
    border: 2px solid black;
    cursor: pointer;
}

.new-game {
    border: none;
    color: white;
    background-color: green;
    padding: 10px 16px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.active {
    background-color: rgba(0, 255, 0, .5);
}

.circle {
    width: 100%;
    height: 100%;
    stroke-dasharray: 283;
    stroke-dashoffset: 283;
    animation: draw 1s forwards;
}

.cross {
    width: 100%;
    height: 100%;
}

.first {
    stroke-dasharray: 125;
    stroke-dashoffset: 125;
    animation: draw .5s forwards;
}

.second {
    stroke-dasharray: 125;
    stroke-dashoffset: 125;
    animation: draw .5s .5s forwards;
}

@keyframes draw {
    100% {stroke-dashoffset: 0;}
}